# GITHUB
Host github.com
  HostName github.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/github

# FREUNDESKREIS PEUTINGER
Host fk
  HostName IP
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/freundeskreis-peutinger

# BEACHFACTORY
Host bf
  HostName IP
  User root
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/beachfactory
